<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recommend_movie</title> <!-- 제목 변경 -->
    <link rel="stylesheet" href="static/main-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <script>
        $(document).ready(function () {
            $('#posts_a').empty()
            show_order();

        });
        function show_order() {
        fetch('/member').then((res) => res.json()).then((data) => {
                let rows = data['result']
                console.log(rows)
                let blog_url = rows['blog_url']
                let comment = rows['comment']
                let mbti = rows['mbti']
                let name = rows['name']
                let _id = rows['_id']
                let temp_html = `
                                <div class="posts" id=posts_id>
                                    <div class="post-id">
                                        <div class="post-id-left">
                                            <img class="post-id-photo" src="/static/r_img/pic.png" alt="">
                                            <b>${_id}</b>
                                        </div>
                                        <hr class="line_s">
                                        <div class="post-id-right">
                                        </div>
                                    </div>
                                    <div class="post-photo">
                                        <img src="/static/r_img/pic.png" alt="">
                                        <div class ="inner_text">
                                            <br>이름:${name}</br>
                                            <br>mbti:${mbti}</br>
                                            <br><a href="${blog_url}">블로그</a></br>
                                        </div>
                                    </div>
                                    <hr class="line_s">
                                    <div class="inner_comment_box">
                                        ${comment}                                        </div>
                                    <div class="inner_button">
                                        <button class="inner_buttons" type="button" id="button-addon2">수정</button>
                                    </div>
                                    <hr class="line_s">
                                    <div class="post-comment-input">
                                        <input type="text" class="form-control" placeholder="write comment"
                                               aria-label="write comment" aria-describedby="button-addon2" id="comments">
                                        <button class="btn-btn-outline-secondary" type="button" id="button-addon2" onclick="save_comment()">입력</button>


                                    </div>

                                    <div class="post-comment" id=comment_append> <!-- 댓글-->
                                        <p><b>이름:</b><span class="friends-comment">댓글</span> </p>
                                        <p><b>이름:</b><span class="friends-comment">댓글</span></p>

                                    </div>
                                </div>`
                $("#posts_a").append(temp_html)

                if (Object.keys(rows).includes('comments')) {
                    $('#comment_append').empty()
                    for (let i = 0; i < rows['comments'].length; i++) {
                            comment = rows['comments'][i][0]
                            comment_id = rows['comments'][i][1]
                            let temp_htmls = `
                                            <p><b>ㅇㅇ</b><span class="friends-comment${i}">${comment} </span>
                                            <button onclick="delete_comment('${comment_id}')">삭제</button>
                                            <button class ="fix_comment${i}"onclick="update_comment(${i},'${comment_id}')">댓글 수정</button></p>
                                            `
                            $(`#comment_append`).append(temp_htmls)
                }
            }
            });
    }
    function save_comment() {
            fetch('/member').then((res) => res.json()).then((data) => {
                let rows = data['result']
                let _id = rows['_id']
                let comment = $('.form-control').val()
                let formData = new FormData();
                formData.append("comment", comment);
                formData.append("id", _id);
                fetch('/member/comment', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
                    location.reload()

                })
            })
        } // 코멘트 저장


    function delete_comment(comment_id){
        fetch('/member').then((res) => res.json()).then((data) => {
            let rows = data['result']
            let _id = rows['_id']
            let formData = new FormData();
            formData.append("id", _id);
            formData.append("comment_id", comment_id);
            fetch('/member/comment/delete', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
                location.reload()
            })
    })


    } // 코멘트 삭제


    function update_comment(i,comment_id){
        $(`.friends-comment${i}`).empty()
        $(`.fix_comment${i}`).empty()
        // let a = comment_id.toString()
        // console.log(typeof(a))
        // console.log(a)
        let temp_htmls = `
            <input type="text" class="fix_comment_text${i}" style=width:70%;border-radius: 15px; placeholder="write comment"
                    aria-label="write comment" aria-describedby="button-addon2" id="comments">
        `
        $(`.friends-comment${i}`).append(temp_htmls)
        let temp_htmlss =
        `
        댓글 수정하기
        `
        $(`.fix_comment${i}`).append(temp_htmlss)
        $(`.fix_comment${i}`).attr('onclick',"update_post("+`'${comment_id}'`+`,`+`${i}`+")")
    } // 코멘트 수정

    function update_post(comment_id,i){
        let fix_comment = $(`.fix_comment_text${i}`).val()
        let formData = new FormData();
        fetch('/member').then((res) => res.json()).then((data) => {
            let rows = data['result']
            let comment = rows['comments'].length
            // console.log(comment)
            formData.append("comment_id", comment_id);
            formData.append("fix_comment", fix_comment);
            formData.append("len_comment", comment);
            fetch('/member/comment/fix', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
                location.reload()
            })
        })
    } // 코멘트 수정
    </script>
</head>

<body>
    <div id="body-container">
        <div class="header-container desktop">
            <div id="header-wrapper">
                <div id="header-wrapper-left">
                    <img class="logo_lmg" src="/static/r_img/home.png" alt="">
                </div>
                <div id="header-wrapper-center"> <!-- 카테고리 -->
                </div>
                <div id="header-wrapper-right">
                    <div class="dropdown_home">
                        <button class="dropbtn_home" onclick="location.href='/'">
                            <img class="tap_img" img src="/static/r_img/home.png" alt="">

                        </button>
                    </div>
                    <div class="dropdown_write">
                        <button class="dropbtn_write" onclick="location.href='/write'">
                            <img class="tap_img" img src="/static/r_img/write.png" alt="">
                        </button>
                    </div>
                    <div class="dropdown_platform">
                        <button class="dropbtn_platform">

                            <img class="tap_img" img src="/static/r_img/platform_tap.png" alt="">
                        </button>
                        <div class="dropdown-content_platform">
                        </div>
                    </div>
                    <div class="dropdown_category">
                        <button class="dropbtn_category">
                            <img class="tap_img" img src="/static/r_img/category_tap.png" alt="">
                        </button>
                        <div class="dropdown-content_category">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-container desktop">
            <div id="content-wrapper-left">
                <div class="content-post-wrapper" id="posts_a">
                    <div class="posts" id=posts_id>
                        <div class="post-id">
                            <div class="post-id-left">
                                <img class="post-id-photo" src="/static/r_img/pic.png" alt="">
                                <b>이름</b>
                            </div>
                            <hr class="line_s">
                            <div class="post-id-right">
                            </div>
                        </div>
                        <div class="post-photo">
                            <img src="/static/r_img/pic.png" alt="">
                            <div class ="inner_text">
                                <br>이름:~</br>
                                <br>생년월일:~</br>
                                <br>mbti:~</br>
                                <br><a href="http://www.naver.com">블로그</a></br>
                            </div>
                        </div>
                        <hr class="line_s">
                        <div class="inner_comment_box">
                            너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다너무재밌다
                        </div>
                        <div class="inner_button">
                            <button class="inner_buttons" type="button" id="button-addon2">수정</button>
                        </div>
                        <hr class="line_s">
                        <div class="post-comment-input">
                            <input type="text" class="form-control" placeholder="write comment"
                                aria-label="write comment" aria-describedby="button-addon2" id="comments">
                            <button class="btn-btn-outline-secondary" type="button" id="button-addon2">입력</button>

                        </div>

                        <div class="post-comment" id=comment_append> <!-- 댓글-->
                            <p><b>이름:</b><span class="friends-comment">댓글</span></p>
                            <p><b>이름:</b><span class="friends-comment">댓글</span></p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>